*{
    background-color: black;
}
h1{
    
    text-transform: uppercase;
}
#image{
    border: 5px solid white;
}
  
.poster{
 width: 50%; 
 margin-left: 25%; 
 margin-top: 50px;
 color:white;
 text-align: center;
 font-family: 'Libre Baskerville', serif;

}

.motivational-img{
    border: 5px solid white;
    width: 100%;
}